<mat-nav-list>
    <a mat-list-item routerLink="/signup" *ngIf="!isAuth" (click)="onClose()">
        <mat-icon>face</mat-icon>
        <span class="navcaption">Signup</span>
    </a>
    <a mat-list-item routerLink="/login" *ngIf="!isAuth" (click)="onClose()">
        <mat-icon>input</mat-icon>
        <span class="navcaption">Login</span>
    </a>
    <a mat-list-item routerLink="/training" *ngIf="isAuth" (click)="onClose()">
        <mat-icon>fitness_center</mat-icon>
        <span class="navcaption">Training</span>
    </a>
    <a mat-list-item *ngIf="isAuth" (click)="OnLogout()">
        <mat-icon>lock</mat-icon>
        <span class="navcaption">Logout</span>
    </a>
</mat-nav-list>